<div class="main">
    <h1>Ciao {{name}}</h1>
    <div class="box">
        <div class="chatCtn">
            <div *ngFor="let msg of messages" [ngClass]="msg.user === name ? 'ownMsg-container' : 'msg-container'">
                <p [ngClass]="msg.user === name ? 'ownMsg' : 'msg'">{{ msg.message }}</p>
            </div>
        </div>

        <form (ngSubmit)="sendMessage()" class="inputChat">
            <input [(ngModel)]="message" name="message" placeholder="Scrivi un messaggio" required />
            <button type="submit">Send</button>
        </form>

    </div>
</div>